h1 {
  color: #ff4e7b;
  text-align: center;
}
h2 {
  color: #ff4e7b;
  text-align: center;
}
#icon {
  display: block;
  margin: 0 auto;
  font-size: 150px;
}
.days {
  color: #ff4e7b;
  text-align: center;
  font-size: 35px;
}

.input-container {
  margin: 80px auto;
  width: fit-content;
}

#humid {
  text-align: center;
  color: #42a5f5;
  font-size: 26px;
}

#windy {
  text-align: center;
  color: #42a5f5;
  font-size: 26px;
}
#mygit {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #42a5f5;
  font-size: 26px;
}

#description {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #42a5f5;
  font-size: 35px;
}

#wordHumid {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #42a5f5;
  font-size: 26px;
}

.weather-forecast {
  margin-top: 20px;
  color: #42a5f5;
  text-align: center;
}

.weather-forecast-date {
  font-size: 30px;
  color: #ff4e7b;
}
.weather-forecast-temperatures {
  font-size: 26px;
  color: #ffa726;
}
.weather-forecast-temperature-min {
  font-size: 24px;
  opacity: 0.5;
}
body {
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
