h1 {
  color: #ff4e7b;
  text-align: center;
}
h2 {
  color: #ff4e7b;
  text-align: center;
}
#icon {
  display: block;
  margin: 0 auto;
  font-size: 150px;
}
.days {
  color: #ff4e7b;
  text-align: center;
  font-size: 35px;
}
.dates {
  color: #42a5f5;
  text-align: center;
  font-size: 30px;
}
.weather-icons {
  text-align: center;
  font-size: 40px;
  color: blueviolet;
}
.degrees {
  text-align: center;
  font-size: 40px;
  color: #ffa726;
}
.input-container {
  margin: 80px auto;
  width: fit-content;
}

#humid {
  text-align: center;
  color: #42a5f5;
  font-size: 26px;
}

#windy {
  text-align: center;
  color: #42a5f5;
  font-size: 26px;
}
#mygit {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #42a5f5;
  font-size: 26px;
}

#description {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #42a5f5;
  font-size: 35px;
}

#wordHumid {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #42a5f5;
  font-size: 26px;
}

.weather-temp-min {
  font-size: 35px;
  opacity: 0.6;
}
